#contact-me {
    padding: 40px;
    
}

.contactForm {
    max-width: 300px;
    padding: 20px;
}

.formGroup {
    margin-bottom: 40px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.formGroup textarea {
    height: 100px;
}